<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <script src='https://cdn.plot.ly/plotly-latest.min.js' charset='utf-8'></script>
    <script src='https://cdn.anychart.com/releases/8.11.0/js/anychart-bundle.min.js'></script>
    <title>Good Job</title>
    <link rel='stylesheet' href='/style.css'>
</head>

<body>
    <div id='loader'></div>
    <header>
        <div class='header-container'>
            <h1 class='title'>Good Job<br> <i class='title-msg'>Find your dream job !</i> </h1>
            <p class='header-category'>
                − iOS（iOS開發工程師）<br>− Android（Android開發工程師）<br>
                − Frontend Engineer（前端工程師）<br>− Backend Engineer（後端工程師）<br>
                − Data Engineer（資料工程師）<br>− Data Analyst（資料分析師）<br>
                − Data Scientist（資料科學家）<br>− Database Administrator（資料庫管理）
            </p>
        </div>
    </header>
    <main>
        <div id='container'>
            <div>
                <p class='welcome-msg'>
                    歡迎來到Good Job，工程師求職的好幫手！<br>
                    透過圖表視覺化報告，帶您了解整體就業市場趨勢<br>
                    並針對不同類型的工程師，進一步分析該類型相關技能、薪資水平、市場現有職缺...等關鍵資訊<br>
                    為您找到心目中理想的 Good Job！
                </p>
            </div>
            <hr>
            <h2>《 工程師 整體數據分析 》</h2>
            <div id='chart-container'>
                <div id='jobCountsBar'></div>
                <div id='experienceDonut'></div>
            </div>
            <div id='avgSalaryBar'></div>
            <div id='form-container'>
                <form id='form'>
                    <label for='category'>Category</label>
                    <select id='categorySelect'>
                        <option value='none' selected disabled hidden> === search Good Job === </option>
                        <option value='ios_engineer'>iOS Engineer</option>
                        <option value='android_engineer'>Android Engineer</option>
                        <option value='frontend_engineer'>Frontend Engineer</option>
                        <option value='backend_engineer'>Backend Engineer</option>
                        <option value='data_engineer'>Data Engineer</option>
                        <option value='data_analyst'>Data Analyst</option>
                        <option value='data_scientist'>Data Scientist</option>
                        <option value='dba'>Database Administrator</option>
                    </select>
                    <button id='searchBtn'>Search</button>
                </form>
            </div>
        </div>
        <div id='category'>
            <h1 id='listCategory'></h1>
            <p id='yearAvgSalary'></p>
        </div>
        <section id='job-listings'>
            <div id='chart-container-category'>
                <div id='educationPie' class='chart'></div>
                <div id='salaryBar' class='chart'></div>
                <div id='skillsBar' class='chart'></div>
                <div id='wordCloud' class='chart'></div>
            </div>
            <div id='jobResults' class='jobResults'></div>
        </section>
    </main>

    <footer>
        <p id='developer'>&copy; 2023 Ruby Wu / Auto Deploy:success</p>
    </footer>
    <script src='/script.js'></script>
    <script src='/plotly.js'></script>
</body>

</html>